<div class="col-xs-12">
  <h2>Mes appareils</h2>
  <p>{{lastUpdate | async | date: 'y MMMM EEEE d'| uppercase}}</p>
  <ul class="list-group">
    <app-appareil *ngFor="let appareil of appareils; let i = index" [appareilStatus]="appareil.status"
                  [appareilName]="appareil.name" [indexOfAppareil]="i" [id]="appareil.id"></app-appareil>
  </ul>
  <br/>
  <button class="btn btn-success"
          [disabled]="!isAuth" (click)="onAllumer()"> Tout allumer
  </button>&nbsp;
  <button class="btn btn-danger" (click)="onEteindre()">Tout eteindre</button>
</div>
